@import url('../common.less');

.sideBar {
  flex: 0 0 208px !important;
  width: 208px !important;
  min-width: 208px !important;
  max-width: 208px !important;
  box-shadow: 2px 0 8px 0 rgb(29 35 41 / 5%);
  :global {
    .ant-layout-sider-trigger {
      width: 208px !important;
    }
    .ant-menu-submenu .ant-menu-sub {
      transition: background-color 0.3s, padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }
}
.sideBarCollapsed {
  flex: 0 0 48px !important;
  width: 48px !important;
  min-width: 48px !important;
  max-width: 48px !important;
  :global {
    .ant-layout-sider-trigger {
      width: 48px !important;
    }
  }
}
.sideBarHidden {
  width: 0 !important;
  min-width: 0 !important;
  max-width: 0 !important;
  overflow: hidden;
  :global {
    .ant-layout-sider-trigger {
      width: 0px !important;
      overflow: hidden;
    }
    .ant-menu-submenu .ant-menu-sub {
      transition: background-color 0.3s, padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }
}
.inline,
.mixin {
  height: 100vh;
  overflow-y: auto;
}
.mixin {
  height: calc(100vh - 48px);
  overflow-y: auto;
}
horizontal {
  display: none;
}
.logo {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 16px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  img {
    width: 28px;
    height: 28px;
    border-radius: 4px;
  }
  span {
    display: inline-block;
    margin-left: 12px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    white-space: nowrap;
  }

  .light {
    color: @primary-color;
  }
}
.logoCollapsed {
  padding: 16px 10px;
}
